$main-color-light: #572ee5;
$main-color-dark: #ffffff;
$sec-color-light: #5ed7c6;
$font-mont: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

$desktop: 768px;

:root {
  --main-color: #{$main-color-light};
  --sec-color: #{$sec-color-light};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Clase para ocultar el contenido */
/* .hidden {
  visibility: hidden;
} */

a {
  color: var(--main-color);
  text-decoration: none;
}

/* TODO - hacer responsive las imagenes */
img {
  max-width: 300px;
}
