$blue: #572ee5;
$pale-green: #5ed7c6;
$light-grey: #f3f5f8;

$font-mont: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

$desktop: 768px;

:root {
  --main-color: #{$blue};
  --main-color-bg: #{$blue};
  --main-color-2: #{000000};
  --sec-color: #{$pale-green};
  --bg-trending: #{$light-grey};
  --bg-color: #{ffffff};
}


// Filtro para modificar el color de img svg
.f-gris{
  filter: brightness(0) saturate(100%) invert(77%) sepia(18%) saturate(330%) hue-rotate(170deg) brightness(87%) contrast(89%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
}

/* Clase para ocultar el contenido */
.hidden {
  display: none;
}

.invisible{
  visibility: hidden;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

p {
  color: var(--main-color);
}

.barra-inicio-fin {
  width: 100%;
  height: 0.3125rem;
  background-color: var(--main-color-bg);
}
