#main_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 1.5rem;
  font-family: $font-roboto;
  font-weight: 400;
  p {
    color: var(--main-color-2);
  }
  .compartir {
    line-height: 1.125rem;
    font-size: 0.9375rem;
  }
  .share {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icons {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  .copyright {
    line-height: 1.25rem;
    font-size: 0.875rem;
    text-align: center;
  }
  .icon {
    display: inline-block;
    color: #cdd6e0;
    &:hover {
      color: #572ee5;
      .dark & {
        color: #ffffff;
      }
    }
  }
  #face-icon {
    width: 8px;
    height: 17px;
  }
  #tw-icon {
    width: 18px;
    height: 17px;
  }
  #ig-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: $desktop) {
  #main_footer {
    padding: 3.125rem 10.9vw;
    flex-direction: row;
    justify-content: space-between;
    .compartir,
    .copyright {
      font-size: 0.8125rem;
    }
    .share {
      flex-direction: row;
    }
    .icons {
      margin: 0;
      margin-left: 1.2vw;
      width: 6.6vw;
    }
    .copyright {
      line-height: 1.125rem;
      margin: 0;
    }
  }
}
