.bot-shadow {
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

#main-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .barra {
    padding: 1.8125rem 0 1.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding-left: 5.9vw;
  }
  .menu_list {
    list-style-type: none;
    display: none;
    align-items: center;
    font-family: $font-mont;
    font-size: 0.9375rem;
    font-weight: bold;
  }
  .open {
    height: calc(100vh - 6.25rem);
    background-color: var(--main-color-bg);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    top: 6.5rem;
    li {
      line-height: 1.875rem;
      &:first-child {
        margin-top: 2rem;
      }
    }
    a {
      color: #fff;
    }
    &.dark {
      opacity: 1;
    }
  }
  .separador-menu {
    height: 1px;
    width: 2.56rem;
    border-top: 1px solid white;
    border-bottom: 0;
    background-color: white;
    opacity: 0.5;
    margin: 0.6875rem auto 0.875rem;
  }
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
#crear_gifos {
  display: none;
  color: var(--main-color);
  font-size: 18px;
  padding: 19px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
#btn-burger {
  color: var(--main-color);
  padding-right: 7.2vw;
}

@media screen and (min-width: $desktop) {
  #main-header {
    #btn-burger,
    .separador-menu {
      display: none;
    }
    .barra {
      padding: 0;
      display: inline;
    }
    .logo {
      width: 59.1px;
      height: 59.1px;
      padding: 0;
      margin: 18px 0 12.9px 10.8vw;
    }
    .menu_list {
      width: 432px;
      margin-right: 10.8vw;
      display: flex;
      justify-content: space-between;
      font-size: 0.8125rem;
      line-height: 1rem;
      text-transform: uppercase;
      li {
        text-align: center;
        &:first-child {
          margin-top: 0;
        }
      }
      a {
        color: var(--main-color);
        &:hover {
          border-bottom: 2px solid #5ed7c6;
        }
        &.active {
          color: #9cafc3;
        }
      }
    }
  }
  #crear_gifos {
    display: inline;
  }
  #navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
