.sec-separator {
  background-color: #9cafc3;
  opacity: 0.5;
  height: 1px;
  width: 42vw;
  max-width: 338px;
  margin-bottom: 2.69rem;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5.6vw;
  padding-top: 2.18rem;
  .secc-header {
    text-transform: capitalize;
    font-family: $font-mont;
    font-weight: bold;
    font-size: 1.5625rem;
    color: var(--main-color);
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 2.38rem;
  }
}

.boton1 {
  margin-top: 4.87rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font: bold 0.8125rem $font-mont;
  line-height: 1rem;
  letter-spacing: 0;
  &:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
    cursor: pointer;
  }
}

/* #seccion-busqueda {

} */

.contenido-vacio {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 29px;
    font-family: $font-mont;
    font-size: 1.375rem;
    color: var(--sec-color);
    text-align: center;
    line-height: 1.56rem;
  }
}

@media screen and (min-width: $desktop) {
.tab{
  padding: 3.4375rem 10.8vw 0 10.8vw;
}
}