.trending {
  background-color: var(--bg-trending);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.8125rem;
  padding-top: 2.875rem;
  padding-bottom: 5.125rem;
  h2 {
    font-family: $font-mont;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.875rem;
  }
  .subtext {
    margin: 7px 7vw 2rem;
    text-align: center;
    p {
      color: var(--main-color-2);
      display: inline-block;
      font-family: $font-roboto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4375rem;
    }
  }
}
#menu-trending {
  width: 100%;
}

.trending-gifs {
  width: 100%;
  display: flex;
  overflow: auto;
  column-gap: clamp(20px, 5.9vw, 29px);
  padding: 0 22px;
  .slider {
    display: none;
  }
  .gif-container {
    .gif {
      width: 243px;
      height: 187px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .trending-gifs {
    justify-content: space-between;
    overflow: visible;
    width: 77vw;
    padding: 0 1.6vw;
    .gif-container {
      .gif {
        width: 21.9vw;
        height: 16.9vw;
      }
    }
  }
  #menu-trending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.5vw;
  }
  .slider {
    display: block;
    width: 40px;
    height: 40px;
  }
  #trendLbtn {
    background-image: url("assets/button-slider-left.svg");
    &:hover {
      background-image: url("assets/button-slider-left-hover.svg");
    }
  }
  #trendRbtn {
    background-image: url("assets/button-slider-right.svg");
    &:hover {
      background-image: url("assets/button-slider-right-hover.svg");
    }
  }
}

@media screen and (min-width: 1440px) {
  .trending-gifs {
    width: 81.4vw;
    .gif-container {
      .gif {
        width: 24.8vw;
        height: 19.1vw;
      }
    }
  }
}
