:root {
  --main-color: #572ee5;
  --main-color-bg: #572ee5;
  --main-color-2: 0;
  --sec-color: #5ed7c6;
  --bg-trending: #F3F5F8;
  --bg-color: ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
}

/* Clase para ocultar el contenido */
.hidden {
  visibility: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

p {
  color: var(--main-color);
}

.barra-inicio-fin {
  width: 100%;
  height: 0.3125rem;
  background-color: var(--main-color-bg);
}

#main-header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-header #crear_gifos {
  display: none;
}

#main-header .barra {
  padding: 1.8125rem 0 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-header .logo {
  padding-left: 5.9vw;
}

#main-header #btn-burger {
  padding-right: 7.2vw;
}

#main-header .menu_list {
  list-style-type: none;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  font-weight: bold;
}

#main-header .open {
  height: calc(100vh - 6.25rem);
  background-color: var(--main-color-bg);
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 6.25rem;
}

#main-header .open li {
  line-height: 1.875rem;
}

#main-header .open li:first-child {
  margin-top: 2rem;
}

#main-header .open a {
  color: #fff;
}

#main-header .separador-menu {
  height: 1px;
  width: 2.56rem;
  border-top: 1px solid white;
  border-bottom: 0;
  background-color: white;
  opacity: 0.5;
  margin: 0.6875rem auto 0.875rem;
}

@media screen and (min-width: 768px) {
  #main-header #btn-burger,
  #main-header .separador-menu {
    display: none;
  }
  #main-header #crear_gifos {
    display: inline;
  }
  #main-header #navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main-header .barra {
    padding: 0;
    display: inline;
  }
  #main-header .logo {
    width: 59.1px;
    height: 59.1px;
    padding: 0;
    margin: 18px 0 12.9px 10.8vw;
  }
  #main-header .menu_list {
    width: 30vw;
    margin-right: 10.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8125rem;
    line-height: 1rem;
    text-transform: uppercase;
  }
  #main-header .menu_list li {
    text-align: center;
  }
  #main-header .menu_list li:first-child {
    margin-top: 0;
  }
  #main-header .menu_list a {
    color: var(--main-color);
  }
}

.color1 {
  color: var(--main-color);
}

.color2 {
  color: var(--sec-color);
}

.img-hero {
  max-width: 72.8vw;
}

.search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 89vw;
  margin-bottom: 1.9375rem;
  border: 1px solid var(--main-color);
  border-radius: 27px;
  height: 50px;
  padding: 15px 20px 13px 55px;
}

.search_bar input {
  border: none;
  width: 100%;
  height: 22px;
  font: 400 1rem "Roboto", sans-serif;
  background-color: var(--bg-color);
  line-height: 1.1875rem;
}

.search_bar input::-webkit-input-placeholder {
  color: #6B7989;
}

.search_bar input:-ms-input-placeholder {
  color: #6B7989;
}

.search_bar input::-ms-input-placeholder {
  color: #6B7989;
}

.search_bar input::placeholder {
  color: #6B7989;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.8125rem;
}

.inicio h1,
.inicio h1 > span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-weight: bold;
  text-align: center;
}

.inicio h1 {
  margin: 0.5rem 12vw 2rem;
}

.trending_themes {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5625rem;
  color: var(--main-color);
  text-align: center;
}

.trending_themes h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.trending_themes p {
  font-size: 0.875rem;
  font-weight: medium;
  text-transform: capitalize;
}

.trending {
  background-color: var(--bg-trending);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.875rem;
  padding-bottom: 5.125rem;
}

.trending h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.875rem;
}

.trending .subtext {
  margin: 7px 7vw 2rem;
  text-align: center;
}

.trending .subtext p {
  color: var(--main-color-2);
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
}

.trending_gifs {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.9vw;
          column-gap: 5.9vw;
  padding: 0 22px;
}

.trending_gifs .gif-container {
  display: inline;
}

.trending_gifs .gif-container img {
  width: 64.8vw;
  height: 49.8vw;
}

#main_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 47px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#main_footer p {
  color: var(--main-color-2);
}

#main_footer .compartir {
  line-height: 1.125rem;
  font-size: 0.9375rem;
}

#main_footer .icons {
  width: 25vw;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main_footer .copyright {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

#main_footer #face-icon,
#main_footer #tw-icon,
#main_footer #ig-icon {
  display: inline-block;
}

#main_footer #face-icon {
  width: 8px;
  height: 17px;
  background: url("assets/icon-facebook.svg") no-repeat;
}

#main_footer #face-icon:hover {
  background-image: url("assets/icon-facebook-hover.svg");
}

#main_footer #tw-icon {
  width: 18px;
  height: 17px;
  background: url("assets/icon-twitter.svg") no-repeat;
}

#main_footer #tw-icon:hover {
  background-image: url("assets/icon-twitter-hover.svg");
}

#main_footer #ig-icon {
  width: 18px;
  height: 18px;
  background: url("assets/icon-instagram.svg") no-repeat;
}

#main_footer #ig-icon:hover {
  background-image: url("assets/icon-instagram-hover.svg");
}

@media screen and (min-width: 768px) {
  #main_footer {
    padding: 3.125rem 10.9vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main_footer .compartir,
  #main_footer .copyright {
    font-size: 0.8125rem;
  }
  #main_footer .icons {
    margin: 0 51vw 0 1.2vw;
    width: 6.6vw;
  }
  #main_footer .copyright {
    line-height: 1.125rem;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */