/* Seteo variables de colores */
:root {
  --main-color: #572ee5;
  --main-color-bg: #572ee5;
  --main-color-2: 0;
  --sec-color: #5ed7c6;
  --bg-trending: #f3f5f8;
  --bg-color: ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
}

/* Clase para ocultar el contenido */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* Estilos de links */
a {
  color: var(--main-color);
  text-decoration: none;
}

p {
  color: var(--main-color);
}

.barra-inicio-fin {
  width: 100%;
  height: 0.3125rem;
  background-color: var(--main-color-bg);
}

.bot-shadow {
  -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
          box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

#main-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#main-header .barra {
  padding: 1.8125rem 0 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-header .logo {
  padding-left: 5.9vw;
}

#main-header .menu_list {
  list-style-type: none;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  font-weight: bold;
}

#main-header .open {
  height: calc(100vh - 6.25rem);
  background-color: var(--main-color-bg);
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 6.5rem;
}

#main-header .open li {
  line-height: 1.875rem;
}

#main-header .open li:first-child {
  margin-top: 2rem;
}

#main-header .open a {
  color: #fff;
}

#main-header .open.dark {
  opacity: 1;
}

#main-header .separador-menu {
  height: 1px;
  width: 2.56rem;
  border-top: 1px solid white;
  border-bottom: 0;
  background-color: white;
  opacity: 0.5;
  margin: 0.6875rem auto 0.875rem;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg-color);
}

#crear_gifos {
  display: none;
  color: var(--main-color);
  font-size: 18px;
  padding: 19px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}

#btn-burger {
  color: var(--main-color);
  padding-right: 7.2vw;
}

@media screen and (min-width: 768px) {
  #main-header #btn-burger,
  #main-header .separador-menu {
    display: none;
  }
  #main-header .barra {
    padding: 0;
    display: inline;
  }
  #main-header .logo {
    width: 59.1px;
    height: 59.1px;
    padding: 0;
    margin: 18px 0 12.9px 10.8vw;
  }
  #main-header .menu_list {
    width: 432px;
    margin-right: 10.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8125rem;
    line-height: 1rem;
    text-transform: uppercase;
  }
  #main-header .menu_list li {
    text-align: center;
  }
  #main-header .menu_list li:first-child {
    margin-top: 0;
  }
  #main-header .menu_list a {
    color: var(--main-color);
  }
  #main-header .menu_list a:hover {
    border-bottom: 2px solid #5ed7c6;
  }
  #main-header .menu_list a.active {
    color: #9cafc3;
  }
  #crear_gifos {
    display: inline;
  }
  #navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.color1 {
  color: var(--main-color);
}

.color2 {
  color: var(--sec-color);
}

#cuerpo {
  margin-top: 94px;
}

.img-hero {
  max-width: 72.8vw;
}

.barra-busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid var(--main-color);
  border-radius: 27px;
  margin-bottom: 1.9375rem;
  width: clamp(0px, 89vw, 551px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lupa-aux {
  color: #9cafc3;
}

#buscarborrar {
  color: var(--main-color);
}

.input-busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 15px 20px 13px 21px;
}

.input-busqueda input {
  border: none;
  width: 100%;
  height: 22px;
  margin-left: 13px;
  font: 400 1rem "Roboto", sans-serif;
  background-color: transparent;
  line-height: 1.1875rem;
}

.input-busqueda input::-webkit-input-placeholder {
  color: #6b7989;
}

.input-busqueda input:-ms-input-placeholder {
  color: #6b7989;
}

.input-busqueda input::-ms-input-placeholder {
  color: #6b7989;
}

.input-busqueda input::placeholder {
  color: #6b7989;
}

.input-busqueda input:focus {
  outline: none;
}

.search-div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 91.65%;
  height: 1px;
  background-color: #9cafc3;
  opacity: 0.5;
}

#autocomplete {
  z-index: 20;
  background-color: var(--bg-color);
  border-radius: 27px;
}

.autocomplete-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 14.6px 10px 23px;
}

.autocomplete-field i {
  width: 1rem;
  height: 1rem;
  margin-right: 14.6px;
}

.autocomplete-field p {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #9cafc3;
}

.autocomplete-field:first-child {
  margin-top: 14px;
}

.autocomplete-field:last-child {
  margin-bottom: 18px;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio h1,
.inicio h1 > span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-weight: bold;
  text-align: center;
}

.inicio h1 {
  margin: 0.5rem 12vw 2rem;
}

.trending_themes {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5625rem;
  color: var(--main-color);
  text-align: center;
}

.trending_themes h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.trending_themes p {
  font-size: 0.875rem;
  font-weight: medium;
  text-transform: capitalize;
}

@media screen and (min-width: 865px) {
  .barra-busqueda.sticky {
    z-index: 50;
    width: clamp(0px, 20vw, 334px);
    position: fixed;
    top: 25px;
    left: 19%;
  }
}

@media screen and (min-width: 1024px) {
  .barra-busqueda.sticky {
    width: clamp(0px, 23.2vw, 334px);
    left: 23.8%;
  }
}

.sec-separator {
  background-color: #9cafc3;
  opacity: 0.5;
  height: 1px;
  width: 42vw;
  max-width: 338px;
  margin-bottom: 2.69rem;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5.6vw;
  padding-top: 2.18rem;
}

.tab .secc-header {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5625rem;
  color: var(--main-color);
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 2.38rem;
}

.vermas {
  margin-top: 4.87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
  background-color: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font: bold 0.8125rem "Montserrat", sans-serif;
  line-height: 1rem;
  letter-spacing: 0;
}

.vermas:hover {
  color: var(--bg-color);
  background-color: var(--main-color);
}

/* #seccion-busqueda {
  
} */
.contenido-vacio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenido-vacio h2 {
  margin-top: 29px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  color: var(--sec-color);
  text-align: center;
  line-height: 1.56rem;
}

@media screen and (min-width: 768px) {
  .tab {
    padding: 0 10.8vw;
  }
}

.grilla {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  row-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grilla .gif-container {
  width: 156px;
  height: 120px;
}

.gif-container {
  position: relative;
}

.gif-container .gif {
  width: 100%;
  height: 100%;
}

.gif-container .card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  background-color: rgba(87, 46, 229, 0.7);
}

.gif-container .card-hover .datos {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 18px;
  font-family: "Roboto", sans-serif;
}

.gif-container .card-hover .datos p {
  color: #ffffff;
}

.gif-container .card-hover .datos .gif-title {
  white-space: pre-line;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1875rem;
}

.gif-container .card-hover .datos .user {
  font-size: 0.9375rem;
  font-weight: 400;
}

.gif-container .card-hover .card-btns {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px;
}

.gif-container.max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 7.5vw 0 7.7vw;
  background-color: var(--bg-color);
}

.gif-container.max .close-max {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 11%;
  margin-bottom: 80px;
  color: var(--main-color);
}

.gif-container.max .gif {
  display: block;
  max-width: 100%;
  height: auto;
}

.gif-container.max .card-hover {
  position: relative;
  height: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 1;
  /* background-color: var(--bg-color); */
}

.gif-container.max .card-hover .datos {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.gif-container.max .card-hover .datos p {
  color: var(--main-color-2);
}

@media screen and (min-width: 768px) {
  .grilla .gif-container {
    width: 260px;
    height: 200px;
  }
  .gif-container:hover .card-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .card-btns img {
    opacity: 0.6;
  }
  .card-btns img:hover {
    opacity: 1;
  }
}

.trending {
  background-color: var(--bg-trending);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.8125rem;
  padding-top: 2.875rem;
  padding-bottom: 5.125rem;
}

.trending h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.875rem;
}

.trending .subtext {
  margin: 7px 7vw 2rem;
  text-align: center;
}

.trending .subtext p {
  color: var(--main-color-2);
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
}

.trending-gifs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-column-gap: clamp(20px, 5.9vw, 29px);
          column-gap: clamp(20px, 5.9vw, 29px);
  padding: 0 22px;
}

.trending-gifs .gif-container .gif {
  width: 243px;
  height: 187px;
}

#main_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 47px;
  padding-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#main_footer p {
  color: var(--main-color-2);
}

#main_footer .compartir {
  line-height: 1.125rem;
  font-size: 0.9375rem;
}

#main_footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_footer .icons {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

#main_footer .copyright {
  line-height: 1.25rem;
  font-size: 0.875rem;
  text-align: center;
}

#main_footer .icon {
  display: inline-block;
  color: #CDD6E0;
}

#main_footer .icon:hover {
  color: #572EE5;
}

#main_footer .icon.dark:hover {
  color: #FFFFFF;
}

#main_footer #face-icon {
  width: 8px;
  height: 17px;
}

#main_footer #tw-icon {
  width: 18px;
  height: 17px;
}

#main_footer #ig-icon {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  #main_footer {
    padding: 3.125rem 10.9vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #main_footer .compartir,
  #main_footer .copyright {
    font-size: 0.8125rem;
  }
  #main_footer .share {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main_footer .icons {
    margin: 0;
    margin-left: 1.2vw;
    width: 6.6vw;
  }
  #main_footer .copyright {
    line-height: 1.125rem;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */