.grilla {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
  .gif-container {
    width: 156px;
    height: 120px;
  }
}
.card-btns {
  display: flex;
  align-items: center;
  width: clamp(0px, 21.5vw, 80px);
  img {
    opacity: 0.6;
    width: 36px;
    height: 36px;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .isFav {
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 7px;
  }
}
/* Componente gif con datos */
.gif-container {
  position: relative;
  .gif {
    width: 100%;
    height: 100%;
  }
  .card-hover {
    display: none;
    justify-content: space-between;
    opacity: 0;
    margin-top: 17px;
    .datos {
      font-family: $font-roboto;
      p {
        color: var(--main-color-2);
      }
      .gif-title {
        white-space: pre-line;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.1875rem;
      }
      .user {
        font-size: 0.9375rem;
        font-weight: 400;
        margin-left: 6px;
        margin-bottom: 6px;
      }
    }
  }

  &.max {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 7.6vw;
    background-color: var(--bg-color);
    .gif {
      display: block;
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: contain;
    }
    .card-hover {
      position: relative;
      display: flex;
      opacity: 1;
      column-gap: 29px;
      .btn-download {
        margin-left: 20px;
      }
      .btn-max {
        display: none;
      }
    }
    .close-max {
      background-image: url("../assets/close.svg");
      .dark & {
        background-image: url("../assets/close-modo-noct.svg");
      }
      height: 14px;
      width: 14px;
      align-self: flex-end;
      margin-top: clamp(5px, 11vh, 66px);
      margin-bottom: clamp(5px, 10vh, 80px);
      color: var(--main-color);
    }
  }
}

/* Maximizado */

@media screen and (min-width: $desktop) {
  .grilla {
    .gif-container {
      width: 260px;
      height: 200px;
      &.max {
        width: 100vw;
        height: 100vh;
      }
    }
  }
  .gif-container.min {
    &:hover .card-hover {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 1;
      margin-top: 0;
      background-color: rgba(87, 46, 229, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .datos {
        width: 100%;
        order: 1;
        padding: 10% 5%;
        p {
          color: #ffffff;
        }
      }
      .card-btns {
        width: fit-content;
        align-self: flex-end;
        margin: 10px;
        img {
          margin-left: 10px;
        }
      }
    }
  }
  .gif-container.max {
    padding: 0 20vw;
    .close-max {
      margin-top: 8.6vh;
      margin-bottom: 80px;
    }
  }
}
